html, body{ height: 100%;}
body{
    background: #eee;
}
.form-wrapper{
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    padding: 20px;
    max-width: 350px;
    margin: auto;
    background: #fff;
}

#submit-container{
    text-align: center;
    margin-top: 20px;
}

table{
    width: 100%;
    height: 100%;
}

td{
    text-align: center;
}

label{
    text-align: left;
}