textarea[name='description']{
    width: 98%;
    resize: vertical;
    min-height: 150px;
}

#pte-table textarea{
    width: 94%;
}

td:last-child{
    text-align: center;
    width: 1%; 
}

tr:first-child{
    font-weight: bold;
}

table img{
    max-width: 400px;
    max-height: 400px;
}

#photos-table td:nth-child(2){
    width: 420px;
}